global
	log {{haproxy_log}}	local0
	log {{haproxy_log}}	local1 notice
	maxconn {{haproxy_global_maxconn}}
	chroot {{haproxy_chroot}} 
	stats socket {{haproxy_stats_socket_path}} mode {{haproxy_stats_file_mode}} level admin
	stats timeout {{haproxy_stats_timeout}} 
	user {{haproxy_user}} 
	group {{haproxy_group}} 
	daemon	

	# Default SSL material locations
	ca-base {{haproxy_ca_base}} 
	crt-base {{haproxy_crt_base}} 
	
	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers {{haproxy_default_bind_ciphers}} 
	ssl-default-bind-options {{haproxy_default_bind_options}} 

defaults
	log	global
	mode	{{haproxy_mode_http}}
	option  {{haproxy_mode_httplog}}	
	option  {{haproxy_mode_dontlognull}}	
	timeout connect {{haproxy_timeout_connect}} 
	timeout client  {{haproxy_timeout_client}} 
	timeout server  {{haproxy_timeout_server}} 
	retries {{haproxy_retries}} 
	option  {{haproxy_mode_redispatch}} 
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend {{haproxy_frontend_name}} 	
	bind {{ansible_eth0.ipv4.address}}:{{haproxy_frontend_bind80}}
	option {{haproxy_frontend_http_server_close}} 
	mode {{haproxy_frontend_mode}} 
	option {{haproxy_frontend_forwardfor}} 
	default_backend {{haproxy_backend_name}} 

backend web-backend
	mode {{haproxy_backend_mode}} 
	balance {{haproxy_backend_balance_mode}}
	cookie {{haproxy_backend_cookie}}
	option {{haproxy_frontend_forwardfor}} 
	http-request set-header X-Forwarded-Port %[dst_port]
	{% for host in groups['webservers'] %}
{# -#}	server {{hostvars[host]['inventory_hostname']}} {{hostvars[host]['ansible_eth1']['ipv4']['address']}}:{{haproxy_backend_bind8080}} check cookie {{"s"~loop.index}}
	{% endfor %}
