Name={{ ansible_hostname }} 
Device=/dev/net/tun
{% for host in groups['all'] %}
#ConnectTo = {{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}
ConnectTo = {{ hostvars[host]['ansible_hostname'] }}
{% endfor %}
