# Package generated configuration file
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port {{sshd_port}} 
# Use these options to restrict which interfaces/protocols sshd will bind to
ListenAddress {{sshd_listenaddress}} 

AddressFamily {{sshd_addressfamily}} 

Protocol {{sshd_protocol}} 
# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
#Privilege Separation is turned on for security
UsePrivilegeSeparation {{sshd_useprivilegeseperation}} 

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval 3600
ServerKeyBits 1024

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime {{sshd_login_gracetime}} 
PermitRootLogin {{sshd_permitrootlogin}}
StrictModes {{sshd_strictmodes}} 

RSAAuthentication {{sshd_rsaauthentication}} 
PubkeyAuthentication {{sshd_publicauthentication}} 
#AuthorizedKeysFile	%h/.ssh/authorized_keys

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication {{sshd_hostbasedauthentication}} 
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords {{sshd_permitemptypasswords}} 

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{sshd_challengeresponseauthentication}}


# Change to no to disable tunnelled clear text passwords
PasswordAuthentication {{sshd_passwordauthentication}} 

# Kerberos options
#KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

X11Forwarding {{sshd_x11forwarding}} 
X11DisplayOffset {{sshd_x11displayoffset}} 
PrintMotd {{sshd_printmotd}} 
PrintLastLog {{sshd_printlastlog}} 
TCPKeepAlive {{sshd_tcpkeepalive}} 
#UseLogin no

#MaxStartups 10:30:60
#Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{sshd_usepam}} 
