SetEnv  DB_USER "{{mariadb_user}}"	
SetEnv  DB_PASSWORD "{{mariadb_password}}"
SetEnv  PRODUCTION_DB_NAME "{{mariadb_db_production}}" 
SetEnv  TESTING_DB_NAME "{{mariadb_db_testing}}" 
SetEnv  DB_HOST         "127.0.0.1"
