#!/bin/sh -e
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

export AUTOSSH_LOGFILE="{{autossh_log}}"

"{{autossh_path}}" -4 -i /home/peerunderground/.ssh/id_rsa -M 0 -N -o "ServerAliveInterval 60" -o "StrictHostKeyChecking=no" -o "ServerAliveCountMax 99999" -o "ExitOnForwardFailure yes" -L {{autossh_local_port}}:127.0.0.1:3306 -p 22 peerunderground@{{ hostvars[groups['dbservers'][0]].ansible_eth1.ipv4.address }} &

exit 0
