#!/bin/bash

webhostuser=peerunderground
profile_icons_testing="{{profile_icons_testing}}"
profile_icons_prduction="{{profile_icons_production}}"
new_files_testing="{{profile_icons_testing_new_files}}"
new_files_production="{{profile_icons_production_new_files}}"
rsync_path=`which rysnc`

#rsync images to other webhosts
{% for host in groups['webservers'] %}
{% if not "{{ hostvars[host]['ansible_eth1']['ipv4']['address']}}" | ipaddr== "{{ansible_eth1.ipv4.address}}" | ipaddr %}
     rsync	-avzhe "ssh -tT -p 22" --rsync-path="sudo $rsync_path" --exclude=$new_files_testing --files-from=$new_files_testing $profile_icons_testing $webhostuser@"{{hostvars[host]['ansible_eth1']['ipv4']['address']}}":$profile_icons_testing
	 rsync  -avzhe "ssh -tT -p 22" --rsync-path="sudo $rsync_path" --exclude=$new_files_production --files-from=$new_files_production $profile_icons_production $webhostuser@"{{hostvars[host]['ansible_eth1']['ipv4']['address']}}":$profile_icons_production
{% endif %}
{% endfor %}

# empty new_files*
sudo sh -c "cat /dev/null > $new_files_testing"
sudo sh -c "cat /dev/null > $new_files_production"

