# Virtual Hosts
#
# Required modules: mod_log_config

# If you want to maintain multiple domains/hostnames on your
# machine you can setup VirtualHost containers for them. Most configurations
# use only name-based virtual hosts so the server doesn't need to worry about
# IP addresses. This is indicated by the asterisks in the directives below.
#
# Please see the documentation at 
# <URL:http://httpd.apache.org/docs/2.4/vhosts/>
# for further details before you try to setup virtual hosts.
#
# You may use the command line option '-S' to verify your virtual host
# configuration.

#
# VirtualHost example:
# Almost any Apache directive may go into a VirtualHost container.
# The first VirtualHost section is used for all requests that do not
# match a ServerName or ServerAlias in any <VirtualHost> block.
#



<VirtualHost {{ansible_eth1.ipv4.address}}:{{testing_port}}>
    ServerAdmin webmaster@dummy-host.example.com
    DocumentRoot "{{testing_documentroot}}"
    ServerName {{testing_servername}}
    ServerAlias {{testing_serveralias}}
    ServerSignature Off
    alias "/profile" "{{profile_icons_testing}}"
    options -Indexes
    ErrorLog  "{{testing_log_dir}}/error.log"
    CustomLog "{{testing_log_dir}}/access.log" common


<Directory {{profile_icons_testing}}>
    Require all granted
</Directory>

<FilesMatch \.php$>
   SetHandler "proxy:fcgi://127.0.0.1:9000"
</FilesMatch>

</VirtualHost>
